registry=https://pkgs.dev.azure.com/qest/_packaging/Node/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/qest/_packaging/Node/npm/registry/:username=qest
//pkgs.dev.azure.com/qest/_packaging/Node/npm/registry/:_password=aHZiejVwbGt5a25jMzM2cDd0cG55cXpleGJ1cWxsbnloNms3NmhpcGt6cGVzZW9vcnU1cQ==
//pkgs.dev.azure.com/qest/_packaging/Node/npm/registry/:email=patrik.valkovic@qest.cz
//pkgs.dev.azure.com/qest/_packaging/Node/npm/:username=qest
//pkgs.dev.azure.com/qest/_packaging/Node/npm/:_password=aHZiejVwbGt5a25jMzM2cDd0cG55cXpleGJ1cWxsbnloNms3NmhpcGt6cGVzZW9vcnU1cQ==
//pkgs.dev.azure.com/qest/_packaging/Node/npm/:email=patrik.valkovic@qest.cz
; end auth token